doctype html
html
    head
        meta(charset='utf-8')
        title Datos de la tabla
    body 
        div
            form(method='post', action='/form')
                div
                    label(for='datos') Datos:
                    p 
                        input(type='text', placeholder='Ingresa nombre' name='datos')
                    div 
                        button(type='submit') Enviar